// src/App.module.scss
@use './styles/variables' as *;
.layoutWrapper {
  width: 100%;
  min-width: 1440px;

  .frameContainer {
    width: 100%;
    margin: 0 auto;

    .mainSection {
      min-height: calc(100vh - $header-height - $nav-height - $footer-height);
    }
  }
}